#header{
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#breadcrum{
    border: 1px solid black;
    margin: 10px;
    display: flex;

}
#breadcrum a{
    background: tomato;
    padding: 10px;
    border-right: solid black;
}
#breadcrum a:hover{
    background: teal;
    text-decoration: underline;
} 
#container{
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    display : flex;
    
}
#preview{
    border: 1px solid black;
    margin: 10px;
    padding: 10px;

}   
#header button{
    margin: 10px;
    padding: 20px;
    cursor: pointer;
    background-color: sandybrown;
    font-weight: 600;
    color: white;
    border-radius: 20px;

}
#header button:hover{
    background-color: lightskyblue;
    transform: scale(1.1);
}
.folder{
    background: lightseagreen;
    color: white;
    height: 100px ;
    width: 150px;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
    border: solid sandybrown;
}
.folder div[purpose = name]{
    margin-top:  60px;
    padding-left: 30px;
}
.folder [action]{
    /* border: solid wheat 0.2px; */
    text-decoration: underline;
    cursor: pointer;

}
.folder [action]:hover{
    background: lightskyblue;
}
.text-file{
    background: lightsalmon;
    color: white;
    height: 100px ;
    width: 150px;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
    border: solid sandybrown;
}
.text-file div[purpose = name]{
    margin-top:  60px;
    padding-left: 30px;
}
.text-file [action]{
    /* border: solid wheat 0.2px; */
    text-decoration: underline;
    cursor: pointer;

}
.text-file [action]:hover{
    background: lightskyblue;
}
#app{
    border: 1px solid black;
    margin: 10px;
}
#app-title-bar{
    background:rgba(236, 114, 114, 0.651);
    display: flex;
    height: 40px;
    text-align: center;
}
#app-title{
    display: flex;
    width: 80%;
    justify-content: space-evenly;
    align-items: center;
    border-right: solid red;
}
#win-action{
    display: flex;
    
}
#app-menu-bar{
    direction: flex;
    height: 40px ;
    background: rgb(235, 213, 213);
    
}
#app-body{
    display: flex;
    background: rgb(240, 167, 167);
    height: 500px;
}
.notepad-body{
    height: 100%;
    width: 100%;
}
.notepad-body textarea{
    height: 100%;
    width: 100%;
    background: white;
}
.notepad-menu{
    /* border: 2px solid white; */
    width: 100%;
    cursor: pointer;
}
.notepad-menu *{
    margin: 5px;
    vertical-align: bottom;
    cursor: pointer;
}
.notepad-menu span:hover{
    cursor: pointer;
    background: white;
    transform: scale(1.1);

}
.notepad-menu [pressed=true]{
    background: lightblue;
    color: teal;
    border: solid red;

}

